// BUTTON BLUE
$button-color-blue: #527CEB;
$button-shadow-blue: inset -80px 0px 34px -30px rgba(0,0,0,0.35);

// BUTTON RED
$button-color-red: #f9636b;
$button-shadow-red: inset 80px 0px 34px -30px rgba(0,0,0,0.35);

// JUMBO BACKGROUND DARK
$dark-bg-gradient: linear-gradient(0deg, rgba(1,2,48,1) 19%, rgba(12,25,83,1) 88%);